@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 30, 35, 44;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --foreground-hex: #1E232C;
}
*{
  font-family: 'Urbanist', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: white;
}
