.user{
    height: 99vh;
    background-color: white;
    color:  rgb(30, 35, 44);
    
    .twin{
        padding: 100px 80px ;
        width: 50%;
        text-align: center;
        border: solid;
        img{
            margin: auto;
        }
        
    }
}


